# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Status API
STATUS_API_SECRET=
TRACKER_API_URL=

# Brevo SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
CONTACT_EMAIL=

# Iubenda Privacy Policy
NEXT_PUBLIC_IUBENDA_POLICY_ID=

# Socials
NEXT_PUBLIC_SOCIAL_GITHUB=
NEXT_PUBLIC_SOCIAL_LINKEDIN=
NEXT_PUBLIC_SOCIAL_DEVTO=
DEVTO_USERNAME=
NEXT_PUBLIC_GA_MEASUREMENT_ID=